<!DOCTYPE html>

<html>
    <head>
        
    </head>

    <body>
        <div>
            {% block body_block %}Wasssup{% endblock %}
        </div>

        <hr />

        <div>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="/registration/logout/">Logout</a></li>
            {% else %}
                <li><a href="/registration/register/">Register Here</a></li>
                <li><a href="/registration/login/">Login</a></li>
            {% endif %}

                
            </ul>
        </div>
    </body>
</html>