<!DOCTYPE html>

<html>

    <head>
        <title>Waaaatup</title>
    </head>

    <body>
 
		{% if user.is_authenticated %}
			<ul>
				<li>Name : {{user.username}}</li>
				<li>Twitter :{{user_profile.twitter}}</li>
				<li>Website :{{user_profile.website}}</li>
			</ul>	
			<a href="/registration/logout/">Logout</a><br />
		{% else %}
			<a href="/registration/register/">Register Here</a><br />
			<a href="/registration/login/">Login</a><br />
		{% endif %}
    </body>

</html>