{% extends 'registration/base.html' %}

{% block title %}{% endblock %}

{% block body_block %}
        <h1>Login to Accilon</h1>

        <form id="login_form" method="post" action="/registration/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
{% endblock %}